
body {
    background-color: red;
}
h4, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#review-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

img {
    width: 11rem;
}
